<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FCC_Exam_Questions_text_cleaner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FCC_Exam_Questions_text_cleaner.Properties.Settings>
            <setting name="lastInputFile" serializeAs="String">
                <value />
            </setting>
            <setting name="lastOutputDirectory" serializeAs="String">
                <value />
            </setting>
        </FCC_Exam_Questions_text_cleaner.Properties.Settings>
    </userSettings>
</configuration>